{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">Каталог
            <small>Категории</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Services</li>
        </ol>
        <img class="img-fluid rounded mb-4" src="{% static 'img/catalog.png' %}" alt="">
        <div class="row">
            {% for category in categories %}
                <div class="col-lg-3 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">{{ category.title }}</h4>
                        <div class="card-footer">
                            <a href="{% url 'detail_category' pk=category.pk %}" class="btn btn-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2>Компании</h2>
        <div class="row">
            {% for company in companies %}
                <div class="col-lg-2 col-sm-4 mb-4">
                    <a href="{% url 'detail_company' pk=company.pk %}">
                        <img class="img-fluid" style="width: 200px; height: 100px;" src="{{ company.logo.url }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}