{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex align-items-center flex-column">
            <h1 class="my-4">Каталог бренда: {{ company.title }}</h1>
            <img class="card-img-top w-50"
                 src="{{ company.logo.url }}" alt="img">
        </div>
        <div class="row">
            {% for item in categories %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">{{ item.title }}</h4>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'detail_category' pk=item.pk %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}