{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">Избранное
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Portfolio 1</li>
        </ol>
        {% for item in page_obj.object_list %}
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'detail_product' pk=item.product.pk %}">
                        <img style="width: 60%; height: auto;" class="img-fluid rounded mb-3 mb-md-0"
                             src="{{ item.product.image.url }}" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <h3>{{ item.product.title }}</h3>
                    <p>{{ item.product.description }}</p>
                    <a class="btn btn-primary" href="{% url 'detail_product' pk=item.product.pk %}">Подробнее
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <a class="my-3" href="{% url 'favorites-del' pk=item.pk %}">
                        <button class="btn btn-danger">X</button>
                    </a>
                </div>
            </div>
            <hr>
        {% endfor %}
        <hr>
        <ul class="pagination justify-content-center">
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}